<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>自動車登録番号標検出</title>
  </head>
  <body style="height: 100vh; display: flex; justify-content: center; align-items: center; flex-direction: column;">
    <h3>S3にアップロードしてください</h3>

    <form method="POST" enctype="multipart/form-data" style="margin-bottom: 30px;">
        <input type="file" name="file-to-upload" />
        <button>アップロードと結果</button>
    </form>
    
    <br/>
    
    {% if filepath %}
      <div><img src="{{ filepath }}" height="300"/></div>
    {% endif %}
    <br/>
    {% if classification_number and plate_number %}
      <div>分類番号:  {{ classification_number }}  ナンバー:  {{ plate_number }}</div>
    {% endif %}
  </body>
</html>